In [6]:
import pandas as pd

In [7]:
train=pd.read_csv("../../data/train.csv")

            일시    광진구   동대문구    성동구    중랑구
0     20180101  0.592  0.368  0.580  0.162
1     20180102  0.840  0.614  1.034  0.260
2     20180103  0.828  0.576  0.952  0.288
3     20180104  0.792  0.542  0.914  0.292
4     20180105  0.818  0.602  0.994  0.308
...        ...    ...    ...    ...    ...
1456  20211227  3.830  3.416  2.908  2.350
1457  20211228  4.510  3.890  3.714  2.700
1458  20211229  4.490  3.524  3.660  2.524
1459  20211230  4.444  3.574  3.530  2.506
1460  20211231  3.616  3.210  2.620  2.146

[1461 rows x 5 columns]