In [1]:
!pip install prophet plotly -Uqq

In [2]:
import pandas as pd
from prophet import Prophet

In [3]:
md=pd.read_csv("../../data/data_merged.csv", header=1)

In [4]:
train=pd.read_csv("../../data/train.csv")

In [9]:
md.head()

,date,air,real_pop,pop,pop_male,pop_female,mvpop,covid_total,covid_new,new_user,...,미세먼지,temp_avg,temp_low,temp_high,rain(mm),relative_humidity,distance_stage,distance_total,distance_value,distance_nominal
0,1/1/2018,2124.0000,421.214,357785,161143,174428,260642,0,0,19.016,...,5.71219,-1.3,-5.1,3.8,0.0,39.1,0.0,0,0.0,0
1,1/2/2018,144880.6667,408.056,357785,161143,174428,438460,0,0,19.016,...,5.19495,-1.8,-4.3,1.8,0.0,42.0,0.0,0,0.0,0
2,1/3/2018,114977.0000,406.174,357785,161143,174428,444544,0,0,19.016,...,2.49009,-4.7,-7.1,-0.4,0.0,42.3,0.0,0,0.0,0
3,1/4/2018,2216.0000,409.168,357785,161143,174428,446740,0,0,19.016,...,2.57964,-4.7,-8.7,-0.7,0.0,43.0,0.0,0,0.0,0
4,1/5/2018,3282.0000,408.793,357785,161143,174428,478999,0,0,19.016,...,3.32875,-3.0,-5.6,1.6,0.0,48.4,0.0,0,0.0,0

In [10]:
train.head()

         일시    광진구   동대문구    성동구    중랑구
0  20180101  0.592  0.368  0.580  0.162
1  20180102  0.840  0.614  1.034  0.260
2  20180103  0.828  0.576  0.952  0.288
3  20180104  0.792  0.542  0.914  0.292
4  20180105  0.818  0.602  0.994  0.308

In [ ]:
train['date'] = pd.to_datetime(train['date'], format='%Y%m%d')

In [51]:
md.describe(datetime_is_numeric=True)

,air,real_pop,pop,pop_male,pop_female,mvpop,covid_total,covid_new,new_user,station,...,미세먼지,temp_avg,temp_low,temp_high,rain(mm),relative_humidity,distance_stage,distance_total,distance_value,distance_nominal
count,1.448000e+03,1461.000000,1461.000000,1461.000000,1461.000000,1461.000000,1461.000000,1461.000000,1461.000000,1461.000000,...,1461.000000,1461.000000,1461.000000,1461.000000,1461.000000,1461.000000,1461.00000,1461.000000,1461.000000,1461.000000
mean,3.878783e+07,397.939807,350275.388775,164743.317591,169703.764545,375752.469541,596.715948,4.837098,185.821697,59.418891,...,7.752454,13.406229,9.301164,18.229295,3.431211,60.769336,0.97091,1.343600,0.298084,1.366188
std,1.143614e+09,17.659805,5371.625830,2253.192706,3168.482936,95542.343575,1299.140850,12.169838,89.586891,15.472548,...,11.707677,10.477566,10.702877,10.538410,11.617738,15.379885,1.31170,1.591827,0.383935,1.866263
min,8.000000e+00,335.982000,339996.000000,161143.000000,164058.000000,103938.000000,0.000000,0.000000,19.016000,37.000000,...,0.299430,-14.900000,-18.600000,-10.700000,0.000000,17.900000,0.00000,0.000000,0.000000,0.000000
25%,1.719375e+03,383.037000,346682.000000,162846.000000,167310.000000,311388.000000,0.000000,0.000000,118.682000,51.000000,...,1.334660,5.100000,0.700000,9.700000,0.000000,49.400000,0.00000,0.000000,0.000000,0.000000
50%,5.732467e+04,396.888000,351263.000000,164730.000000,170164.000000,367628.000000,0.000000,0.000000,185.116000,51.000000,...,3.592050,13.900000,9.200000,19.400000,0.000000,61.000000,0.00000,0.000000,0.000000,0.000000
75%,1.415057e+05,412.258000,355109.000000,166866.000000,172674.000000,463945.000000,456.000000,4.000000,267.290000,78.000000,...,8.684320,22.700000,18.900000,27.200000,0.300000,71.100000,2.00000,3.000000,0.666667,3.000000
max,4.330004e+10,448.753000,357785.000000,167949.000000,174428.000000,587508.000000,7042.000000,102.000000,347.904000,86.000000,...,100.000000,33.700000,30.300000,39.600000,103.100000,98.100000,4.00000,4.000000,1.000000,5.000000